{% extends 'base.html.twig' %}

{% block title %}Details{% endblock %}

{% block body %}
    <style>
        .wrapper {
            margin: 1em auto;
            width: 100%;
        }
        div {
            border: 1px solid #000000;
            margin: 8px;
        }
    </style>

    <script src="{{ asset('js/blog_details.js')}}"></script>
    <div class="wrapper">
        <h1>{{ blog.title }}</h1>
        <div>Publication Date: {{ blog.insertDate |date('d-m-Y') }}</div>
        <div> Blog text:</div>
        <div id ="blog_content">
            {{ blog.text }}
        </div>
        <h1>Add new comment:</h1>
        <div>
            <textarea name="comment_text" id="comment_textarea" placeholder="Add comment"></textarea>
        </div>
        <div>
            <button class="btn" onClick="addNewComment()">Submit comment</button>
        </div>

        <h1 id="comments_section_start">Comments section:</h1>
        {% for comment in comments %}
            {% if comment.isVisible == true %}
            <div>
                Insert Date: {{ comment.insertDate |date('Y-m-d H:i:s') }}
            </div>
            <div>
                {{ comment.text }}
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}